/* 
========================================
typography 
========================================
*/

body{
    font-family: 'Merriweather', serif;

}

h1 {
    font-size: 64px;
    font-weight: 400;
}

h2 {
    font-size: 44px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6{}

p{
    font-size: 16px;
}

/* 
========================================
header 
========================================
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:#E8E2D8
}










.inline-block{
    display: inline-block;
    vertical-align: top;
}

img{
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav{
    width: 73%;
    padding: 1%;
    position: relative;
    left: 800px;
    bottom: 125px;

    
}

ul{
    width: 30%;
    text-align: center;

}

h1{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
}

.heroImg{
    height: 800px;
    padding: 30px;
}

.center{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.content{
    width: 900px;
    margin: 0 auto;
}

button{
    width: 70px;
}

footer{
    display: inline-block;
    padding: 1%;
    position: relative;
    top: 250px;
}

.section{
    background-color: #E8E2D8;
    width: 100%;
}



